<div id="hear" style="background-color: #B2CFE5;margin: 0 ;min-height: 100px;border: gray solid 1px">
  <h1 id="title" style="text-align: center;">我来组成头部</h1>
<b>{{date|date:'yyyy-MM-dd HH:mm:ss'}}</b>
<div class="menu">

    <ul class="menu-title">
      <li class="menu-title-item">
        <a href="javaScript:void(0)">
          首页
        </a>
      </li>
      <li class="menu-title-item">
        <div class="dropdown">
        <a href="javaScript:void(0)">
          数据目录
        </a>
          <ul class="dropdown-content" >
            <li >
              <a href="#">Java</a>
            </li>
            <li  class="divider"></li>
            <li >
              <a  href="#">我的数据</a>
            </li>
            <li>
              <a  href="#">我的审批</a>
            </li>
            <li>
              <a  href="#">数据运营</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>


</div>


</div>
